/Ej2/nbproject/private/
/Ej2/build/
/Ej3/nbproject/private/
/Ej3/build/
/Ex1/nbproject/private/
/Ex1/build/
/Ex2/nbproject/private/
/Ex2/build/
/Ex3/nbproject/private/
/Ex3/build/
/Ex4/nbproject/private/
/Ex4/build/